In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Client Profiles
file_path = '/Users/rishikeshdhokare/Documents/Ironhack/MiniProject/project2-vanguard/DataFiles/df_final_demo.txt'
df = pd.read_csv(file_path, encoding='utf-8')

###Rename###

###Remove NAN ######

### Change data type float for age,num_accts, calls_6_mnth, logons_6_mnth

df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [20]:
df.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [70]:
df['calls_6_mnth'].unique()

array([ 6.,  3.,  0.,  2.,  1.,  5.,  4., nan,  7.])

In [72]:
df['logons_6_mnth'].unique()

array([ 9.,  6.,  3.,  5.,  4.,  8.,  7., nan,  1.,  2.])

In [74]:
df['clnt_age'].unique()

array([60.5, 58. , 32. , 49. , 33. , 30.5, 58.5, 57.5, 67.5, 54.5, 34.5,
       51.5, 62.5, 36. , 74. , 32.5, 31. , 25.5, 42.5, 42. , 30. , 55. ,
       38. , 68.5, 52.5, 54. , 63. , 48. , 66.5, 68. , 65. , 51. , 46. ,
       63.5, 23. , 26.5, 56.5, 76.5, 27.5, 39.5, 25. , 27. , 60. , 66. ,
       39. , 56. , 40. , 52. , 31.5, 43.5, 35. , 19. , 64.5, 64. , 22.5,
       33.5, 36.5, 61. , 40.5, 72. , 44.5, 28.5, 59.5, 45. , 18. , 78. ,
       50.5, 29. , 37.5, 57. , 70. , 74.5, 22. , 50. , 53. , 62. , 65.5,
       29.5, 28. , 69.5, 35.5, 71.5, 34. , 38.5, 69. , 43. , 83.5, 21.5,
       47. , 61.5, 73.5, 71. , 59. , 21. , 44. , 83. , 47.5, 72.5, 76. ,
       78.5, 55.5, 67. , 41.5, 20.5, 75. , 24. , 79. , 26. , 41. , 23.5,
       49.5, 46.5, 45.5, 48.5, 24.5, 75.5, 80. , 73. , 87. , 19.5, 53.5,
       18.5, 70.5, 80.5, 86. , 37. , 85. , 17.5, 82. , 20. , 77.5, 77. ,
       79.5, 88.5, 96. , 81. , 81.5, 88. , 84. ,  nan, 94.5, 89. , 92. ,
       82.5, 91.5, 85.5, 95.5, 84.5, 90. , 89.5, 93. , 90.5, 87.5, 93.5,
       86.5, 91. , 17. , 94. , 92.5, 15.5, 16. , 16.5, 14.5, 15. , 14. ,
       13.5])

In [76]:
df['clnt_tenure_yr'].unique()

array([ 6.,  7.,  5., 16., 12., 30., 15.,  8.,  4.,  3., 10., 11., 13.,
       14., 19., 18., 25., 23., 21., 17.,  9., 27., 24., 20., 28., 22.,
       29., 46., 26., 32., 33., 35.,  2., 38., 31., 48., 34., 36., 51.,
       nan, 47., 49., 37., 39., 40., 55., 42., 44., 43., 50., 54., 41.,
       45., 52., 62.])

In [58]:
df.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [66]:
# Count NaN values and empty strings in the 'gender' column
num_empty_or_nan = df['gendr'].isna().sum() + (df['gendr'] == '').sum()

print(f"Number of NaN or empty values in the 'gender' column: {num_empty_or_nan}")

Number of NaN or empty values in the 'gender' column: 14

In [68]:
df['bal']

0          45105.30
1         110860.30
2          52467.79
3          67454.65
4         103671.75
            ...
70604    1411062.68
70605     101867.07
70606      40745.00
70607     475114.69
70608     157498.73
Name: bal, Length: 70609, dtype: float64

In [86]:
df.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [88]:
df['visitor_id'].unique()

array(['580560515_7732621733', '39393514_33118319366',
       '762728880_76361333336', ..., '897419406_91053100530',
       '140157234_42535034872', '919753573_77122543946'], dtype=object)

In [90]:
#Digital Footprints (df_final_web_data_2)
df1 = pd.read_csv('/Users/rishikeshdhokare/Documents/Ironhack/MiniProject/project2-vanguard/DataFiles/df_final_web_data_pt_1.txt')
df2 = pd.read_csv('/Users/rishikeshdhokare/Documents/Ironhack/MiniProject/project2-vanguard/DataFiles/df_final_web_data_pt_2.txt')
merged_df = pd.conc5at([df1, df2], ignore_index=True)
merged_df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [94]:
df['process_step'].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [98]:
#Experiment Roster
file_path = '/Users/rishikeshdhokare/Documents/Ironhack/MiniProject/project2-vanguard/DataFiles/df_final_experiment_clients.txt'
df = pd.read_csv(file_path, encoding='utf-8')
df

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [100]:
df['Variation'].unique()

array(['Test', 'Control', nan], dtype=object)

In [104]:
# Count NaN values and empty strings in the 'gender' column
num_empty_or_nan = df['Variation'].isna().sum() + (df['Variation'] == '').sum()

print(f"Number of NaN or empty values in the 'Variation' column: {num_empty_or_nan}")

Number of NaN or empty values in the 'Variation' column: 20109